:root{

    --transition: :all 0.2s ease-in-out;
    --bg-circles: rgb(95,45,452)
}

.mainContainer{
    display: flex;
    flex-wrap: wrap;
    column-gap: 25pxf;
    align-items: center;
    justify-content: center;
    column-gap: 25px;
    padding-bottom: 10%;

}
.itmCOntainer {
    max-width: 300px;
    margin-top: 100px;
    background-color: #27293d;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
}

.itmCOntainer::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--bg-circles);
    border-radius: 50%;
    transition: all 0.4s ease-in-out;
}

.itmCOntainer.active::before,
.itmCOntainer:hover::before {
    width: 250px;
    height: 250px;
}

.itmCOntainer.active::after,
.itmCOntainer::after {
    content: "";
    width: 90px;
    height: 90px;
    position: absolute;
    bottom: -90px;
    left: -90px;
    background-color: var(--bg-circles);
    border-radius: 50%;
    transition: var(--transition);
}

.itmCOntainer.active::after,
.itmCOntainer:hover::after {
    bottom: -35px;
    left: -35px;
}

.itmCOntainer img {
    width: 280px;
    height: 210px;
    margin: 40px 0;
    object-fit: contain;
    transform: translateY(15px);
    transition: var(--transition);
}

.itmCOntainer.active img,
.itmCOntainer:hover img {
    transform: translateY(-20px) scale(0.9);
}

.itmCOntainer h2 {
    color: white;
    font-weight: normal;
    font-size: 16px;
    position: relative;
    transition: var(--transition);
    top: 0;
}

.itmCOntainer.active h2,
.itmCOntainer:hover h2 {
    color: whitesmoke;
    font-weight: normal;
    font-size: 16px;
    top: -25px;
}